<div>
    <div>
        <div class="d-flex">
            <div class="modal-body">
                <div class="seat-grid">
                    <div *ngFor="let seat of seats;let i = index">
                        <div [ngClass]="{'mr-20' : ((i+1)>4 && ((i+1)%5) == 0), 'selected': seat.isSelected, 'disable-cursor taken' : !seat.isAvailable}" class="seat-box" (click)="seatsSelected(seat)"></div>
                    </div>
                </div>
                <div class="screen">
                    <p>Screen This Way</p>
                </div>
                <div class="seat-legends">
                    <div>
                        <span class="seat-box available"></span>
                        <span>Available</span>
                    </div>
                    <div>
                        <span class="seat-box taken"></span>
                        <span>Taken</span>
                    </div>
                </div>
            </div>
            <div class="show-details-container">
                <div class="show-meta-data">
                    <div>
                        <div class="movie-name">{{ticketDetails.movie_name}}</div>    
                    </div>
                    <div>
                        <div class="sub-title">Theatres</div>
                        <div class="name">{{ticketDetails.theatre_name}}</div>
                    </div>
                    <div>
                        <div class="sub-title">Show Timing</div>
                        <div class="name">{{ticketDetails.date}} at {{ticketDetails.show_time}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div (click)="bookTicket()">Book Ticket</div>
            <div class="cancel" (click)="close()">Cancel</div>
        </div>
    </div>
</div>
<div *ngIf="alert" class="modal modal-xs">
    <div class="modal-container modal-container-xs">
        <div class="m-20">
            {{responseMessage}}
        </div>
        <div class="modal-footer">
          <div (click)="close(true)">OK</div>
        </div>
    </div>
</div>