<div *ngIf="!showAllTimings" class="body-container">
    <div class="container-title">
        <h2>Theatres</h2>
    </div>
    <div class="movie-list-container">
        <div *ngFor="let theatre of allDetails?.theatre">
            <app-theatrewidget [theatre]="theatre" [movies]="allDetails?.movies" (setCurrentTheatreDetails)="setCurrentTheatreDetails($event)"></app-theatrewidget>
        </div>
    </div>
</div>
<div *ngIf="showAllTimings">
    <app-showtiming [theatre]="selectedTheatreDetails" (backtoTheatreList)="viewTheatreList()"></app-showtiming>
</div>