<div class="widget-container">
    <img [src]="movie.thumbnail_url" width="230px" height="278px" class="movie-thumbnail-img">
    <div class="movie-details-container">
        <div class="movie-details">
            <div class="movie-name">
                {{movie.movie_name}} - {{movie.language}}
            </div>
            <div class="rating-style">
                {{movie.imdb_rating}} / 10
            </div>
        </div>
        <div class="book" (click)="showAllTimings()">
            Book
        </div>
    </div>
</div>