.header-container {
    height: 50px;
    background-color: #2c333d;
    display: flex;
    align-items: center;
    cursor: default;
}

.app-title {
    color: white;
    margin: 0px 40px;

    span {
        padding: 5px;
    }

    span:nth-child(1) {
        background-color: #e11d48;
    }

    span:nth-child(2) {
        background-color: #ffc10d;
    }

    span:nth-child(3) {
        background-color: #39485a
    }
}

.nav-menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;

    div {
        font-size: 13px;
        color: #bdbdbd;
        text-transform: uppercase;
        border-bottom: 3px solid #2c333d;
        padding: 16px 0px;
        margin: 0px 16px;
        cursor: pointer;
    }

    div:hover {
        color: #ffc107;
        border-color: #ffc107;
        border-bottom: 3px solid;
    }
}

.nav-menu-container div:has(> .active-link) {
    color: #ffc107;
    border-color: #ffc107;
    border-bottom: 3px solid;
}

.sign-in-container {
    font-size: 13px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    color: #bdbdbd;

    div {
        cursor: pointer;
        padding-right: 10px;
    }
}

.user-name {
    color: #ffc10d;
}

.menu-icon {
    width: 20px;
    height: 20px;
    background-image: url('../assets/menu.svg');
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.side-nav-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2c333d;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.8;
}
.sidenav-container {
    padding: 20px;
}
.sidenav-header {
    color: white;
    letter-spacing: 4px;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffc107;
    padding: 10px 0px;
    font-size: 14px;
    display: inline-block;
    font-weight: inherit;
}